<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forgot password</title>
</head>
<body>
    <div id="result-container">
     <form action="" method="get">
    <label for="newpass">New Password</label>
    <input name="newpass" id="newpass">
    <br>
      <br>
    <label for="ConfPass">Confirm Password</label>
    <input name="ConfPass" id="ConfPass">
    <input name="token" id="token" >
         <p>the value is "${param.token}"</p>
    <br>
      <br>
    <input type="submit" align="center">
     </form>
    </div>
</body>
</html>